.input__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #575757;
    text-align: left;
    margin: 0 0 24px;
    padding: 0;
}

.input__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 68px;
    width: 427px;
}

.input__number {
    height: 100%;
    width: 403px;
    background: #F3F3F4;
    border-radius: 16px;
    border: none;
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.2;
    color: #575757;
    padding: 16px 0 16px 24px;
}

.input__number:focus:focus-visible {
    border: 2px solid #F3F3F4;
    padding: 14px 0 14px 22px;
    background: #fff;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input__span {
    position: absolute;
    top: 16px;
    right: 24px;
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.2;
    text-align: right;
    color: #575757;
}

.input__range {
    -webkit-appearance: none;
    position: absolute;
    top: 67px;
    right: 24px;
    width: 379px;
    height: 2px;
    background: #E1E1E1;
    background-image: linear-gradient(#FF9514, #FF9514);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

.input__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FF9514;
    cursor: ew-resize;
    transition: background .3s ease-in-out;
}

.input__range::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FF9514;
    cursor: ew-resize;
    transition: background .3s ease-in-out;
}

.input__range::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FF9514;
    cursor: ew-resize;
    transition: background .3s ease-in-out;
}

.input__range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.input__range::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.input__range::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}